body {
  margin-left: 9%;
}

.siteName {
  /* background-color: rebeccapurple; */
    width: 63%;
    /* float: left; */
    margin-left: 50px;
    height: 51px;

}

.sitePicElement {
  
}

#knifeFork {
  right: 20px;
  height: auto;
  width: auto;
  float: left;
  margin-top: -51px;
}

.siteBox {
  /* background-color: orange; */
  height: 100px;
  width: 47%;
}

.linkPics {
  float:right;
  margin-top: -90px;
}

.top {
  /* background-color: salmon; */
  width: 69%;
  margin-left: 10%;
  margin-top: 5%;

}

.delicious {
  font-family: 'Pacifico', cursive;
  font-size: 21px;
}

.slogan {
  font-size: 8px;
}

main {
  /* background-color: hotpink; */
  width: 80%;
  margin-left: 10%;
}

.recipeTitle {
  /* background-color: greenyellow; */
  width: 200px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.postedOn {
  font-size: 8px;
  font-family: 'Roboto Mono', monospace;
  opacity: 0.6;
  margin-top: -21px;
}